*{
    margin: 0;
 }
 .container{
    max-width: 1350px;
    margin: auto; 
    margin-block: -1px;
    background-color: white;
 }
 .nav_icons{
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .logo{
    padding-right:60px;
 }
 .logo p{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: rgb(90,110,121) ;
 }
 .links{
    display: flex;
    gap: 5rem;
 }
 .links a{
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
 }
 .icons{
    display: flex;
    gap: 3rem;
    font-size: 1.4rem;
 } 
 .banner_content{
    display: flex;
 }
 .banner_content img{
    position: relative;
    left: 380px;
    object-fit: cover;
    height: 500px;
    width: 850px;
    border-radius: 5px;
    z-index: 2;
 }
 .text{
    position: absolute;
    top: 200px;
    right: 60%;
    width: 100%;
    padding: 50px 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(90,110,121);
    z-index: 3; 
 }
 .text h2{
        font-size: 2rem;
        margin-left: 73%;
 }
 .text p{
    line-height: 1.5rem;
    width: 320px;
    padding-top: 10px;
    margin-left: 73%;
 }
 .box{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(149,154,158);
    border-radius: 5px;
    position: relative;
    top: 420px;
    right: 500px;
    z-index: 1;
 }
 .arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    position: relative;
    width: 110px;
    color: white;
    background-color: rgb(90,110,121);
    border-radius: 5px;
    top: 440px;
    left: 180px;
    z-index: 3;
 }
 .benifits_head{
    display: flex;
    height: 200px;
    align-items: center;
 }
 .benifits_head span{
    font-size: 5rem;
    padding-left: 150px;
    padding-right: 20px;
 }
 .benifits_head h2{
    font-size: 2rem;
    width: 300px;
 }
 .perks_content{
    display: flex;
    gap: 1rem;
 }
 .qualities{
    display: flex;
    width: 282px;
    padding-left: 135px; 
 }
 .qualities p{
    padding-inline: 20px;
    line-height: 1.5rem;
 }
 .qualities h3{
    padding-left: 20px;
    padding-bottom: 15px;
 }
 .statistics_contents{
    display: flex;
    padding-block: 100px;
 }
 .statistics_contents img{
    object-fit: cover;
    height: 500px;
    width: 500px;
    border-radius: 4px ;
 }
 .stat_image{
    width: 50%;
    padding-left: 145px;
 }
 .stat_text{
    width: 50%;
    padding-left: 107px;
 }
 .text_p{
    width: 527px;
 }
 .stat_text h2{
    font-size: 2.5rem;
    padding-right: 250px;
    line-height: 3rem;
    padding-bottom: 15px;
    padding-top: 10px;
 }
 .stat_text p{
    padding-right: 10px;
    line-height: 1.5rem;
 }
 .stat_numbers{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding-top: 30px;
 }
 .stat_numbers h3{
    font-size: 3.2rem;
    color: rgb(90,110,121);
 }
 .stat_numbers p{
    padding-top: 10px;
    padding-bottom: 50px;
 }
 .stat_text button{
    border: 2px solid black;
    margin-top: 25px;
    padding: 15px 50px;
 }
 .stat_text span{
   font-size: 3rem;
   position: relative;
   top: 9px;
   right: 20px;
 }
 .experience_content{
    display: flex;
    padding-bottom: 100px;
 } 
  .exp_details{
    width: 40%;
    padding-left: 145px;
 }
 .exp_head {
    font-size: 2.5rem;
    line-height: 4rem;
    margin-bottom: 15px;
    width: 500px;
   }
   .exp_info_1{
     display: flex;
     align-items: center;
     margin-block: 10px;
   }
   .exp_info_2{
     position: relative;
   } 
   .exp_info_2 p{
    margin-left: 80px;
    width: auto;
    line-height: 1.7rem;
   }
  .number {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(90, 110, 121);
    color: white;
    text-align: center;
    line-height: 3rem;
    margin: 0;
 } 
  .exp_timeline h3 {
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin-left: 30px;
 }
 .vertical_bar {
    position: absolute;
    left: 24px;
    width: 2px; 
    background-color: black; 
    height: 100%; 
  }
 
  .exp_info_2:last-child .vertical_bar{
     visibility: hidden;
 }    
    .experience_img{
     width: 50%;
 }
 .exp_image {
    object-fit: cover;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 35px;
    height: 530px;
    padding-left: 115px;
 } 
 .review_heading{
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
 }
 .review_heading h2{
    font-size: 2.5rem;
    width: 309px;
    padding-left: 145px;
 }
 .review_arrow{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    padding-top: 30px;
    padding-right: 71px;
 }
 .fa-long-arrow-left{
    color: grey;
 }
 .replys{
    display: flex;
    gap: 2rem;
    padding-inline: 145px 71px;
    padding-bottom: 50px;
 }
 .replys i{
    font-size: 5rem;
    padding-top: 20px;
 }
 .reply_1{
    width: 50%;
    background-color: rgb(90,110,121);
    color: white;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
 }
 .reply_2{
    width: 50%;
    background-color: rgb(90,110,121);
    color: white;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
 }
 .reply_1 h2{
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
 }
 .reply_1 p{
    line-height: 1.2rem;
    padding-bottom: 25px;
 }
 .reply_2 h2{
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
 }
 .reply_2 p{
    line-height: 1.2rem;
    padding-bottom: 25px;
 }
 .profile{
    display: flex;
 }
 .profile p{
    line-height: 1.5rem ;
 }
 .profile_img{
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 25px;
 }
 .sub_content{
    text-align: center;
    padding-top: 100px;
    line-height: 1.5rem;
 }
 .sub_content h2{
    font-size: 2.5rem;
    padding-left: 350px;
    padding-right: 350px;
    line-height: 2rem;
 }
 .sub_content p{
    padding: 25px 300px 25px 300px;
 }
 .sub_mail{
    display: flex;
    height: 60px;
    width: 800px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255);
    margin: auto;
    position: relative;
    top: 25px;
    box-shadow: 0px 0px 4px grey;
 }
 .sub_mail button{
    border: none;
    background-color:rgb(90,110,121) ;
    color: white;
    height: 50px;
    padding-inline: 38px;
 }
 .sub_mail p{
    padding: 10px 465px 10px 20px;
 }
 .footer{
    background-color: rgb(90, 110, 121);
 }
 .footer_content{
    display: flex;
    padding-bottom: 80px ;
    background-color: rgb(90,110,121);
    color: white;
 }
 .footer_label{
    width: 30%;
    padding-top: 80px;
    padding-inline: 130px 50px;
 }
 .footer_content h2{
    font-size: 1.8rem;
    padding-bottom: 20px;
 }
 .footer_content p{
    margin-right: 50px;
    line-height: 1.8rem;
 }
 .footer_more{
    display: flex;
    padding-top: 80px;
    justify-content: center;
    padding-left: 50px;
    gap: 4.2rem;
     
 }
 .footer_more a{
    text-decoration: none;
    color: white;
    display: block;
    line-height: 2.2rem;
 }
 .footer_more h4{
    font-size: 1.2rem;
    padding-bottom: 20px;
 }
 .social{
    display: flex;
    padding-top: 20px;
    gap: 1.2rem;
 }
 /* MEDIA QUERIES */
 @media  screen and (min-width: 320px) and (max-width: 499.5px) {
    .nav_icons{
        flex-direction: column;
        height: 80px;
    }
    .logo{
        padding-bottom: 20px;
        text-align: center;
        font-size: 2rem;
    }
    .logo p{
        padding-left: 50px;
        font-size: 1.5rem;
    }
    .links{
        gap: 1.2rem;
        margin-right: 0;
    }
    .links a{
        font-size: 1.2rem;
    }
    .icons{
        display: none;
    } 
    .arrow{
        display: none;
    }
    .box{
        display: none;
    }
    .banner_content{
        padding-bottom: 145px;
    }
    .banner_image{
        width: 100%;
    }
    .banner_content img{
        height: 250px;
        width: 95%;
        left: 0;
        padding-left: 9px;
    }        
    .text{
        top: 328px;
        left: 9px;
        width: 86%;
        line-height: 25px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    .text p{
        margin-left: 0%;
        width: 274px;
    }
    .text h2{
        margin-left: 0;
        font-size: 1.6rem;
    }
    .benifits_head span{
        font-size: 4rem;
        padding-left: 40px;
    }
    .benifits_head h2{
        padding-right: 0;
        line-height: 2.5rem;
        font-size: 1.7rem
    }
    .perks_content{
        flex-direction: column;
    }
    .qualities{
        padding-bottom: 15px;
        padding-left: 35px;
    }
    .statistics_contents{
        flex-direction: column;
        padding-block: 35px;
    }
    .stat_image{
        width: 95%;
        padding-inline: 0;
    }
    .statistics_contents img{
        height: 250px;
        width: 96%;
        padding-left: 10px;
    }
    .stat_text{
        width: auto;
        padding-left: 10px;
    }
    .text_p {
        width: 295px;
    }
    .stat_text h2{
        font-size: 1.6rem;
        padding-right: 0;
        line-height: 2.5rem;
    }
    .stat_text p{
        padding-right: 0;
        padding-bottom: 5px;
    }
    .stat_numbers{
        gap: 3rem;
    }
    .stat_text button{
        margin-top: 0;
        margin-left: 43px;
    }
    .experience_content{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .exp_details{
        width: auto;
        padding-left: 10px;
    }
    .exp_head {
        width: 298px;
        font-size: 1.6rem;
        line-height: 3rem;
    }
    .exp_timeline h3{
        font-size: 1.4rem;
    }
    .number{
        margin: 0;
    }
    .exp_timeline {
        margin-left: 10px;
    }
    .experience_img{
        width: 100%;
    }
    .exp_image {
        width: 92%;
        height: 280px;
        padding-left: 10px;
    }
    .review_content{
        padding-left: 10px;
        padding-right: 0
    }
    .review_heading{
        padding-bottom: 20px;
    }
    .review_heading h2{
        font-size: 1.6rem;
        padding-left: 15px;
    }
    .review_arrow{
        display: none;
    }
    .replys{
        flex-direction: column;
        padding-inline: 5px;
    }
    .replys h2{
        font-size: 1.6rem;
    }
    .reply_1{
        width: auto;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    .reply_2{
        width: auto;
        margin-right: 10px;
    }
    .sub_content{
        padding-top: 30px;
    }
    .sub_content h2{
        padding-left: 0px;
        padding-right: 10px;
        font-size: 1.6rem;
    }
    .sub_content p{
        padding: 25px 6px 10px 0px;
    }
    .sub_mail{
        width: 300px;
    }
    .sub_mail p{
        padding: 10px 20px 10px 14px;
    }
    .sub_mail button {
        padding-inline: 19px;
    }
    .footer_content{
        flex-direction: column;
        width: max-content;
    }
    .footer_content h2{
        padding-right: 60px;
    }
    .footer_label{
        width: 240px;
        padding-inline: 0px;
    }
    .footer_more{
        flex-direction: column;
        padding-top: 25px;
        padding-left: 0;
        gap: 2rem;
    }
    .footer_more h4{
        font-size: 1.6rem;
        padding-bottom: 15px;
        padding-top: 25px;
    }
 }
 @media  screen and (min-width: 500px) and (max-width: 699.5px) {
    .nav_icons{
        height: 80px;
        flex-direction: column;
    }
    .logo{
        padding-bottom: 20px;
    }
    .logo p{
        padding-left: 50px;
        font-size: 1.5rem;
    }
    .links{
        padding-left: 5px;
    }
    .links a{
        font-size: 1.2rem;
    }
    .icons{
        display: none;
    } 
    .arrow{
        display: none;
    }
    .box{
        display: none;
    }
    .banner_content{
        padding-block: 20px 100px;
    }
    .banner_image{
        width: 100%;
    }
    .banner_content img{
        height: 300px;
        width: 96%;
        position: relative;
        left: 0;
        object-fit: cover;
        border-radius: 5px;
        padding-left: 9px;
    }        
    .text{
        top: 393px;
        left: 29px;
        width: 79%;
        padding: 10px 15px 10px 13px;
        border-radius: 10px;
        margin-top: 5px;
    }
    .text h2 {
        margin-left: 0%;
    }
    .text p{
        margin-left: 0;
        width: 377px;
    }
    .benifits_head span{
        font-size: 4rem;
        padding-left: 20px;
    }
    .perks_content{
        flex-direction: column;
    }
    .qualities{
        padding: 0px 0px 15px 20px;
    }
    .statistics_contents{
        flex-direction: column; 
        padding: 0px 0px 20px 0px;
    }
    .stat_image{
        width: 98%;
        padding-left: 10px;
    }
    .statistics_contents img{
        height: 250px;
        width: 89%;
        padding-left: 20px;
    }
    .stat_text{
        width: auto;
        padding-left: 0px;
    }
    .text_p{
        width: 440px;
    }
    .stat_text h2{
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 10px 0px 15px 20px;
    }
    .stat_text p{
        line-height: 1.5rem;
        padding: 0px 0px 5px 20px;
    }
    .stat_numbers{
        gap: 3rem;
    }
    .stat_numbers h3 {
        padding-left: 20px;
    }
    .stat_text button{
        margin-top: 0;
        margin-left: 125px;
    }
    .experience_content{
        flex-direction: column;
        padding-bottom: 20px;
    } 
    .exp_info_2 p{
       width: 361px;
    }  
    .experience_img{
         width: 100%;
     }
     .exp_image {
        width: 95%;
        margin-bottom: 0px;
        padding-left: 10px;
     } 
    .exp_head{
        width: 470px;
        line-height: 3rem;
        padding-top: 20px;
    }
    .exp_details{
        padding-left: 10px;
    }
    .review_heading h2{
        padding: 40px 0px 0px 30px;
    }
    .review_arrow{
        display: none;
    }
    .replys{
        width: 95%;
        flex-direction: column;
        padding-inline: 0;
    }
    .reply_1{
        width: 75%;
        margin: auto;
        padding-bottom: 25px;
    }
    .reply_2{
        width: 75%;
        margin: auto;
        padding-bottom: 25px;
    }
    .sub_content{
        padding-top: 30px;
    }
    .sub_content h2{
        padding-left: 0px;
        padding-right: 0px;
    }
    .sub_content p{
        padding: 25px 0px 10px 20px;
    }
    .sub_mail{
        width: 400px;
    }
    .sub_mail p{
        padding: 10px 85px 10px 10px;
    }
    .footer_content{
        flex-direction: column;
    }
    .footer_content h2{
        padding-right: 60px;
    }
    .footer_label{
        width: auto;
        padding: 80px 35px 0px 68px;
    }
    .footer_more{
        display: flex;
        flex-direction: column;
        padding-left: 70px;
        padding-top: 15px;
    }
    .footer_more h4{
        font-size: 1.6rem;
        padding-bottom: 15px;
        padding-top: 25px;
    }
    .social{
        justify-content: left;
        display: flex;
        padding-top: 20px;
        gap: 1.2rem;
    }
 }
 @media screen and (min-width: 700px) and (max-width: 1023.5px ) {
    .nav_icons{
        height: 80px;
    }
    .logo{
        padding-right: 50px;
    }
    .links{
        margin-right: 35px;
        gap: 3rem;
    }
    .icons{
        gap: 2.5rem;
     } 
     .banner_content{
        padding-bottom: 10px;
    }
    .banner_image{
        width: 100%;
    }
     .banner_content img{
        left: 50px;
        height: 450px;
        width: 90%;
    }
    .text{
        top: 120px;
        padding-left: 400px;
        width: 100%;
    }
    .text h2{
        margin-left: 70%;
    }
    .text p{
        width: 209px;
        margin-left: 70%;
    }
    .box{
        position: absolute;
        left: 20px;
        top: 450px;
        right: 633px;
    }
    .arrow{
        position: absolute;
        left: 84%;
        top: 465px;
    } 
    .benifits_head{
        display: flex;
        height: 200px;
        align-items: center;
    }
    .benifits_head span{
        padding-left: 58px;
    }
    .benifits_head h2{
        padding-right: 191px;
    }
    .qualities{
        padding-left: 0;
    }
    .qualities h3{
        padding-left: 12px;
    }
    .statistics_contents{
        flex-direction: column;
       padding-block: 60px 10px; 
    }
    .statistics_contents img{
        width: 100%;
    }
    .stat_image{
        width: 95%;
        padding-left: 20px;
    }
    .stat_text{
        width: 0%;
        padding-left: 20px;
    }
    .stat_text h2{
        width: 328px;
        padding: 10px 0px 15px 0px;
    }
    .text_p{
        width: 600px;
    } 
    .stat_text button{
        margin-left: 100px;
        width: 180px;
        margin-top: 0;
    }
    .stat_text span{
        top: -54px;
        left: 265px;
    }
    .experience_content{
        flex-direction: column;
        padding-left: 0px;
        padding-bottom: 40px;
    }
    .exp_details{
        padding-left: 15px;
    }
    .number{
        margin: 0;
    }
    .exp_info_2 p {
        margin-left: 100px;
        width: 500px;
    }
    .experience_img{
        width: 100%;
    }
    .exp_image {
        width: 94%;
        padding-left: 20px;
    }
    .review_heading h2{
        padding-left: 15px;
    }
    .review_arrow{
        display: none;
    }
    .replys{
        padding-inline: 20px ;
    }
    .profile p{
        line-height: 1.5rem ;
    }
    .sub_content{
        padding-left: 35px;
        padding-right: 0;
        padding-top: 44px;
    }
    .sub_content h2{
        padding-left: 0px;
        padding-right: 46px;
        line-height: 2.5rem;
    }
    .sub_content p{
        padding: 25px 50px 50px 20px;
    }
    .sub_mail{
        margin: auto;
        width: 520px;
    }
    .sub_mail p{
        padding: 10px 190px 10px 20px;
    }
    .footer_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_label{
        width: auto;
        padding-top: 72px;
        text-align: center;
        padding-inline: 0;
    }
    .footer_content h2{
        padding-right: 50px;
    }
    .footer_content p{
        margin-right: 0;
    }
 }
 @media screen and (min-width: 1024px) and (max-width: 1350px) {
    .nav_icons{
        height: 80px;
    }
    .logo p{
        font-size: 2.5rem;
    }
    .banner_content {
        margin-bottom: 70px;
    }
     .banner_content img{
        left: 110px;
    }
    .text{
        top: 200px;
        padding: 50px 100px 50px 110px;
    }
    .text h2{
        margin-left: 71%;
    }
    .text p {
        margin-left: 71%;
    }
    .box{
        position: absolute;
        top: 500px;
        left: 86px;
    }
    .arrow{
        position: absolute;
        left: 870px;
        top: 513px;
    } 
    .benifits_head{
        margin-block: -72px;
    }
    .benifits_head span{
        padding-left: 110px;
    }
    .benifits_head h2{
        padding-right: 283px;
    }
    .perks_content{
        padding-top: 50px;
    }
    .qualities{
        padding-left: 60px;
        width: 255px;
    }
    .statistics_contents{
        padding-block: 60px;
    }
    .statistics_contents img{
        height: 515px;
        width: 450px;
    }
    .stat_image{
        width: 40%;
        padding-left: 67px;
    }
    .stat_text{
        width: 60%;
        padding-left: 50px;
    }
    .text_p{
        width: 350px;
    }
    .stat_text h2{
        padding-right: 31px;
    }
    .stat_numbers{
        gap: 4.5rem;
        padding-top: 20px;
    }
    .experience_content{
        padding-bottom: 20px;
    }
    .exp_details{
        padding-inline: 64px 20px;
    }
    .exp_head {
        width: 440px;
    }
    .exp_image {
        height: 580px;
        width: 410px;
        padding-left: 74px;
    }
    .review_heading h2{
        padding-left: 65px;
    }
    .replys{
        padding-inline: 65px 45px;
    }
    .sub_content{
        padding: 65px 60px 0px 110px;
    }
    .sub_content h2{
       padding-inline: 150px;
    }
    .sub_content p{
        padding: 25px 200px 50px 200px;
    }
    .sub_mail{
        margin: auto;
        width: 465px;
    }
    .sub_mail p{
        padding: 10px 30% 10px 20px;
    }
    .footer_label{
        padding-left: 110px;
    }
    .footer_content p{
        margin-right: 0px;
    }
    .footer_more{
        padding-inline: 15px 20px;
    }
 }