*{
    margin: 0;
}
.container{
    max-width: 1350px;
    margin: auto ; 
    box-sizing: border-box;
    background-color: rgb(253, 254, 255);
}
 .navbar{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    padding-right:100px;
    padding-left: 50px;
}
.logo p{
    font-size: 1.5rem;
    color: rgb(90,110,121) ;
}
.links{
    margin-right: 100px;
    display: flex;
    gap: 4rem;
}
.links a{
    font-size: 1.2rem;
    text-decoration: none;
}
.icons{
    display: flex;
    gap: 3rem;
} 
.banner{
    display: flex;
}
.banner img{
    position: relative;
    left: 380px;
    object-fit: cover;
    height: 500px;
    width: 850px;
    
    border-radius: 5px;
    z-index: 2;
}
.text{
    position: absolute;
    top: 200px;
    width: 200px;
    padding: 50px 150px; 
    color: rgb(255, 255, 255);
    background-color: rgb(90,110,121);
    z-index: 3; 
}
.text h2{
    font-size: 2rem;
}
.text p{
    line-height: 1.5rem;
    width: 320px;
    padding-top: 10px;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(149,154,158);
    border-radius: 5px;
    position: relative;
    top: 420px;
    right: 500px;
    z-index: 1;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    position: relative;
    width: 110px;
    color: white;
    background-color: rgb(90,110,121);
    border-radius: 5px;
    top: 440px;
    left: 180px;
    z-index: 3;
}
.benifits{
    display: flex;
    height: 200px;
    align-items: center;
}
.benifits i{
    font-size: 5rem;
    padding-left: 150px;
    padding-right: 20px;
}
.benifits h2{
    font-size: 2rem;
    padding-right: 800px;
}
.perks{
    display: flex;
    gap: 1.5rem;
    padding-left: 140px;
    padding-right: 60px;
}
.qualities{
    display: flex;  
}
.qualities img{
    height: 64px;
    width: 64px;
}
.qualities p{
    padding-inline: 20px;
    line-height: 1.5rem;
}
.qualities h3{
    padding-left: 20px;
}
.statistics{
    display: flex;
    padding: 100px 60px 100px 140px;
}
.statistics img{
    object-fit: cover;
    height: 500px;
    width: 500px;
    border-radius: 4px ;
}
.stat_image{
    width: 50%;
}
.stat_text{
    width: 50%;
}
.stat_text h2{
    font-size: 2.5rem;
    padding-right: 250px;
    line-height: 3rem;
    padding-bottom: 15px;
    padding-top: 10px;
}
.stat_text p{
    padding-right: 10px;
    line-height: 1.5rem;
}
.stat_numbers{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding-top: 30px;
}
.stat_numbers h3{
    font-size: 3.2rem;
    color: rgb(90,110,121);
}
.stat_numbers p{
    padding-top: 10px;
    padding-bottom: 50px;
}
.stat_text button{
    border: 2px solid black;
    margin-top: 25px;
    padding: 15px 25px 15px 25px;
}
.stat_text span{
    font-size: 3rem;
    position: relative;
    top: 13px;
    right: 10px;
}
.experience{
    display: flex;
    padding-left: 140px;
    padding-right: 70px;
    padding-bottom: 100px;
}
.experience_text{
    width: 50%;
    padding-top: 40px;
}
.experience_image{
    width: 50%;
}
.experience_image img{
    object-fit: cover;
}
.exp_heading{
    font-size: 2.5rem;
    padding-right: 30px;
}
.exp_content{
    display: flex;
}
.exp_number{
    padding-top: 50px;
}
.exp_number p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: rgb(90,110,121);
    border-radius: 50px;
    margin-top: 5px;
    color: white;
}
.exp_number span{
    font-size: 3.2rem;
    padding-left: 20px;
}
.exp_details{
    padding: 60px 100px 10px 15px;
}
.exp_details h3{
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.exp_details p{
    line-height: 1.5rem;
    padding-bottom: 10px;
}
.reviews{
    padding-left: 140px;
    padding-right: 110px;
}
.review_heading{
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
}
.review_heading h2{
    font-size: 2.5rem;
    /* padding-right: 50px; */
}
.review_arrow{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}
.replys{
    display: flex;
    gap: 2rem;
}
.replys i{
    font-size: 5rem;
    padding-top: 20px;
}
.reply_1{
    width: 50%;
    background-color: rgb(90,110,121);
    color: white;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
}
.reply_2{
    width: 50%;
    background-color: rgb(90,110,121);
    color: white;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
}
.reply_1 h2{
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
.reply_1 p{
    line-height: 1.2rem;
    padding-bottom: 25px;
}
.reply_2 h2{
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
.reply_2 p{
    line-height: 1.2rem;
    padding-bottom: 25px;
}
.profile{
    display: flex;
}
.profile p{
    line-height: 1.5rem ;
}
.profile_img{
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 25px;
}
.subscribe{
    padding-left: 140px;
    padding-right: 70px;
    text-align: center;
    padding-top: 100px;
    line-height: 1.5rem;
}
.subscribe h2{
    font-size: 2.5rem;
    padding-left: 350px;
    padding-right: 350px;
    line-height: 2rem;
}
.subscribe p{
    padding: 25px 300px 50px 300px;
}
.sub_mail{
    display: flex;
    height: 60px;
    width: 600px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255);
    margin-left: 250px;
    position: relative;
    top: 25px;
}
.sub_mail button{
    border: none;
    background-color:rgb(90,110,121) ;
    color: white;
    height: 50px;
}
.sub_mail p{
    padding: 10px 200px 10px 20px;
}
.footer{
    display: flex;
    padding-left: 140px;
    padding-right: 70px;
    padding-bottom: 80px ;
    background-color: rgb(90,110,121);
    color: white;
}
.footer_label{
    width: 30%;
    padding-right: 50px;
    padding-top: 80px;
}
.footer h2{
    font-size: 1.8rem;
    padding-bottom: 20px;
}
.footer p{
    margin-right: 50px;
    line-height: 1.8rem;
}
.footer_more{
    display: flex;
    padding-top: 80px;
    justify-content: center;
    padding-left: 50px;
    gap: 1.5rem;
}
.footer_more h4{
    font-size: 1.2rem;
    padding-bottom: 20px;
}
.social{
    display: flex;
    padding-top: 20px;
    gap: 1.2rem;
}
/* MEDIA QUERIES */
@media  screen and (min-width: 320px) and (max-width: 500px) {
    .navbar{
        height: 80px;
        display: inline;
        margin-bottom: 50px;
    }
    .logo{
        padding-bottom: 20px;
        text-align: center;
        font-size: 2rem;
        color: rgb(90,110,121) ;
    }
    .logo p{
        padding-left: 40px;
        font-size: 1.5rem;
        color: rgb(90,110,121) ;
    }
    .links{
        display: flex;
        justify-content: space-around;
        gap: 1.2rem;
        margin-right: 0;
        padding-left: 5px;
    }
    .links a{
        font-size: 1.2rem;
        text-decoration: none;
        color: black;
    }
    .icons{
        display: none;
    } 
    .arrow{
        display: none;
    }
    .box{
        display: none;
    }
    .banner{
        padding-bottom: 100px;
    }
    .banner img{
        height: 250px;
        width: 350px;
        position: relative;
        left: 0;
        object-fit: cover;
        border-radius: 5px;
        padding-left: 9px;
    }        
    .text{
        position: absolute;
        background:  rgb(90,110,121);
        top: 264px;
        left: 30px;
        width: 262px;
        line-height: 25px;
        padding: 10px 15px 10px 15px;
        color: whitesmoke;
    }
    .benifits i{
        font-size: 4rem;
        padding-left: 40px;
        padding-right: 20px;
    }
    .benifits h2{
        font-size: 2rem;
        padding-right: 0;
    }
    .perks{
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
    }
    .qualities{
        padding-bottom: 15px;
    }
    .qualities img{
        height: 64px;
        width: 64px;
    }
    .qualities p{
        padding-inline: 20px;
        line-height: 1.5rem;
    }
    .qualities h3{
        padding-left: 20px;
    }
    .statistics{
    display: inline; 
    padding: 0px 0px 100px 0px;
    }
    .statistics img{
        height: 250px;
        width: 350px;
        padding-left: 10px;
    }
    .stat_text{
        width: auto;
        padding-left: 10px;
    }
    .stat_text h2{
        font-size: 1.5rem;
        padding-right: 0;
        line-height: 2rem;
        padding-bottom: 15px;
        padding-top: 10px;
    }
    .stat_text p{
        padding-right: 0;
        line-height: 1.5rem;
        padding-bottom: 5px;
    }
    .stat_numbers{
        gap: 3rem;
    }
    .stat_text button{
        margin-top: 0;
        margin-left: 90px;
    }
    .experience{
        display: inline;
        padding-left: 10px;
        padding-right: 0px;
    }
    .experience_text{
        width: auto;
    }
    .experience_image{
        width: auto;
    }
    .experience_image img{
        height: 250px;
        width: 350px;
        padding-left: 10px;
    }
    .exp_heading{
        padding-right: 0px;
        padding-left: 15px;
        width: auto;
    }
    .exp_number p{
        margin-left: 15px;
    }
    .exp_number span{
        padding-left: 35px;
        font-size: 4.6rem;
    }
    .exp_details{
        padding: 60px 0px 10px 15px;
    }
    .exp_details p{
        width: auto;
    }
    .reviews{
        padding-left: 10px;
        padding-right: 0
    }
    .review_heading h2{
        padding-top: 40px;
    }
    .review_arrow{
        display: none;
    }
    .replys{
        display: inline;
    }
    .replys i{
        font-size: 5rem;
        padding-top: 20px;
    }
    .reply_1{
        width: 267px;
        margin-bottom: 20px;
    }
    .reply_2{
        width: 267px;
        margin-bottom: 20px;
    }
    .subscribe{
        padding-left: 10px;
        padding-right: 0px;
        padding-top: 30px;
    }
    .subscribe h2{
        padding-left: 30px;
        padding-right: 0px;
    }
    .subscribe p{
        padding: 25px 0px 10px 30px;
    }
    .sub_mail{
        width: auto;
        margin-left: 0px;
    }
    .sub_mail p{
        padding: 10px 20px 10px 20px;
    }
    .footer{
        display: inherit;
    padding-left: 0;
    padding-right: 0px;
    width: max-content;
    }
    .footer h2{
        padding-right: 60px;
    }
    .footer_label{
        width: 264px;
        text-align: center;
        padding-top: 80px;
        padding-left: 78px;
        padding-right: 23px;
    }
    .footer_label p{
        padding-left: 0px;
    }
    .footer_more{
        display: inline;
       text-align: center;
    }
    .footer_more p{
        margin-right: 0px;
    }
    .footer_more h4{
        font-size: 1.6rem;
        padding-bottom: 15px;
        padding-top: 25px;
    }
    .social{
        justify-content: center;
        display: flex;
        padding-top: 20px;
        gap: 1.2rem;
    }
}

@media  screen and (min-width: 500px) and (max-width: 700px) {
    .navbar{
        height: 80px;
        display: inline;
        margin-bottom: 50px;
    }
    .logo{
        padding-bottom: 20px;
        text-align: center;
        font-size: 2rem;
        color: rgb(90,110,121) ;
    }
    .logo p{
        padding-left: 40px;
        font-size: 1.5rem;
        color: rgb(90,110,121) ;
    }
    .links{
        display: flex;
        justify-content: space-around;
        gap: 1.2rem;
        margin-right: 0;
        padding-left: 5px;
    }
    .links a{
        font-size: 1.2rem;
        text-decoration: none;
        color: black;
    }
    .icons{
        display: none;
    } 
    .arrow{
        display: none;
    }
    .box{
        display: none;
    }
    .banner{
        padding: 20px 0px 100px 53px;
    }
    .banner img{
        height: 300px;
        width: 400px;
        position: relative;
        left: 0;
        object-fit: cover;
        border-radius: 5px;
        padding-left: 9px;
    }        
    .text{
        position: absolute;
        background:  rgb(90,110,121);
        top: 340px;
        left: 20px;
        width: 262px;
        line-height: 25px;
        padding: 10px 15px 10px 15px;
        color: whitesmoke;
    }
    .benifits i{
        font-size: 4rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    .benifits h2{
        font-size: 2rem;
        padding-right: 0;
    }
    .perks{
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
    }
    .qualities{
        padding: 0px 0px 15px 20px;
    }
    .qualities img{
        height: 64px;
        width: 64px;
    }
    .qualities p{
        padding-inline: 20px;
        line-height: 1.5rem;
    }
    .qualities h3{
        padding-left: 20px;
    }
    .statistics{
    display: inline; 
    padding: 0px 0px 100px 0px;
    }
    .statistics img{
        height: 250px;
        width: 400px;
        padding-left: 60px;
    }
    .stat_text{
        width: auto;
        padding-left: 10px;
    }
    .stat_text h2{
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 10px 0px 15px 20px;
    }
    .stat_text p{
        line-height: 1.5rem;
        padding: 0px 0px 5px 20px;
    }
    .stat_numbers{
        gap: 3rem;
    }
    .stat_numbers h3 {
        padding-left: 20px;
    }
    .stat_text button{
        margin-top: 0;
        margin-left: 125px;
    }
    .experience{
        display: inline;
        padding-left: 10px;
        padding-right: 0px;
    }
    .experience_text{
        width: auto;
    }
    .experience_image{
        width: auto;
    }
    .experience_image img{
        height: 260px;
        width: 410px;
        padding-left: 60px;
    }
    .exp_heading{
        padding-right: 0px;
        padding-left: 15px;
        width: auto;
    }
    .exp_number p{
        margin-left: 15px;
    }
    .exp_number span{
        padding-left: 35px;
        font-size: 3.2rem;
    }
    .exp_details{
        padding: 60px 0px 10px 15px;
    }
    .exp_details p{
        width: auto;
    }
    .reviews{
        padding-left: 10px;
        padding-right: 0
    }
    .review_heading h2{
        padding: 40px 0px 0px 20px;
    }
    .review_arrow{
        display: none;
    }
    .replys{
        display: inline;
    }
    .replys i{
        font-size: 5rem;
        padding-top: 20px;
    }
    .reply_1{
        width: 350px;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .reply_2{
        width: 350px;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .subscribe{
        padding-left: 10px;
        padding-right: 0px;
        padding-top: 30px;
    }
    .subscribe h2{
        padding-left: 0px;
        padding-right: 0px;
    }
    .subscribe p{
        padding: 25px 0px 10px 20px;
    }
    .sub_mail{
        width: 450px;
        margin-left: 15px;
    }
    .sub_mail p{
        padding: 10px 20px 10px 20px;
    }
    .footer{
        display: inherit;
    padding-left: 0;
    padding-right: 0px;
    /* width: max-content; */
    }
    .footer h2{
        padding-right: 60px;
    }
    .footer_label{
        width: auto;
        text-align: center;
        padding: 80px 23px 0px 55px;
    }
    .footer_label p{
        padding-left: 0px;
    }
    .footer_more{
        display: inline;
       text-align: center;
    }
    .footer_more p{
        margin-right: 0px;
    }
    .footer_more h4{
        font-size: 1.6rem;
        padding-bottom: 15px;
        padding-top: 25px;
    }
    .social{
        justify-content: center;
        display: flex;
        padding-top: 20px;
        gap: 1.2rem;
    }
}