*{
    margin: 0;
}
.container{
    max-width: 1350px;
    margin: auto ; 
    box-sizing: border-box;
    background-color: rgb(253, 254, 255);
}
 .navbar{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    padding-right:100px;
    padding-left: 50px;
}
.logo p{
    font-size: 1.5rem;
    color: rgb(90,110,121) ;
}
.links{
    margin-right: 100px;
    display: flex;
    gap: 4rem;
}
.links a{
    font-size: 1.2rem;
    text-decoration: none;
}
.icons{
    display: flex;
    gap: 3rem;
} 
.banner{
    display: flex;
}
.banner img{
    position: relative;
    left: 380px;
    object-fit: cover;
    height: 500px;
    width: 850px;
    
    border-radius: 5px;
    z-index: 2;
}
.text{
    position: absolute;
    top: 200px;
    width: 200px;
    padding: 50px 150px; 
    color: rgb(255, 255, 255);
    background-color: rgb(90,110,121);
    z-index: 3; 
}
.text h2{
    font-size: 2rem;
}
.text p{
    line-height: 1.5rem;
    width: 320px;
    padding-top: 10px;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(149,154,158);
    border-radius: 5px;
    position: relative;
    top: 420px;
    right: 500px;
    z-index: 1;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    position: relative;
    width: 110px;
    color: white;
    background-color: rgb(90,110,121);
    border-radius: 5px;
    top: 440px;
    left: 180px;
    z-index: 3;
}
.benifits{
    display: flex;
    height: 200px;
    align-items: center;
}
.benifits i{
    font-size: 5rem;
    padding-left: 150px;
    padding-right: 20px;
}
.benifits h2{
    font-size: 2rem;
    padding-right: 800px;
}
.perks{
    display: flex;
    gap: 1.5rem;
    padding-left: 140px;
    padding-right: 60px;
}
.qualities{
    display: flex;  
}
.qualities img{
    height: 64px;
    width: 64px;
}
.qualities p{
    padding-inline: 20px;
    line-height: 1.5rem;
}
.qualities h3{
    padding-left: 20px;
}
.statistics{
    display: flex;
    padding: 100px 60px 100px 140px;
}
.statistics img{
    object-fit: cover;
    height: 500px;
    width: 500px;
    border-radius: 4px ;
}
.stat_image{
    width: 50%;
}
.stat_text{
    width: 50%;
}
.stat_text h2{
    font-size: 2.5rem;
    padding-right: 250px;
    line-height: 3rem;
    padding-bottom: 15px;
    padding-top: 10px;
}
.stat_text p{
    padding-right: 10px;
    line-height: 1.5rem;
}
.stat_numbers{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding-top: 30px;
}
.stat_numbers h3{
    font-size: 3.2rem;
    color: rgb(90,110,121);
}
.stat_numbers p{
    padding-top: 10px;
    padding-bottom: 50px;
}
.stat_text button{
    border: 2px solid black;
    margin-top: 25px;
    padding: 15px 25px 15px 25px;
}
.stat_text span{
    font-size: 3rem;
    position: relative;
    top: 13px;
    right: 10px;
}
.experience{
    display: flex;
    padding-left: 140px;
    padding-right: 70px;
    padding-bottom: 100px;
}
.experience_text{
    width: 50%;
    padding-top: 40px;
}
.experience_image{
    width: 50%;
}
.experience_image img{
    object-fit: cover;
}
.exp_heading{
    font-size: 2.5rem;
    padding-right: 30px;
}
.exp_content{
    display: flex;
}
.exp_number{
    padding-top: 50px;
}
.exp_number p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: rgb(90,110,121);
    border-radius: 50px;
    margin-top: 5px;
    color: white;
}
.exp_number span{
    font-size: 3.2rem;
    padding-left: 20px;
}
.exp_details{
    padding: 60px 100px 10px 15px;
}
.exp_details h3{
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.exp_details p{
    line-height: 1.5rem;
    padding-bottom: 10px;
}
.reviews{
    padding-left: 140px;
    padding-right: 110px;
}
.review_heading{
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
}
.review_heading h2{
    font-size: 2.5rem;
    /* padding-right: 50px; */
}
.review_arrow{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}
.replys{
    display: flex;
    gap: 2rem;
}
.replys i{
    font-size: 5rem;
    padding-top: 20px;
}
.reply_1{
    width: 50%;
    background-color: rgb(90,110,121);
    color: white;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
}
.reply_2{
    width: 50%;
    background-color: rgb(90,110,121);
    color: white;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
}
.reply_1 h2{
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
.reply_1 p{
    line-height: 1.2rem;
    padding-bottom: 25px;
}
.reply_2 h2{
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
.reply_2 p{
    line-height: 1.2rem;
    padding-bottom: 25px;
}
.profile{
    display: flex;
}
.profile p{
    line-height: 1.5rem ;
}
.profile_img{
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 25px;
}
.subscribe{
    padding-left: 140px;
    padding-right: 70px;
    text-align: center;
    padding-top: 100px;
    line-height: 1.5rem;
}
.subscribe h2{
    font-size: 2.5rem;
    padding-left: 350px;
    padding-right: 350px;
    line-height: 2rem;
}
.subscribe p{
    padding: 25px 300px 50px 300px;
}
.sub_mail{
    display: flex;
    height: 60px;
    width: 600px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255);
    margin-left: 250px;
    position: relative;
    top: 25px;
}
.sub_mail button{
    border: none;
    background-color:rgb(90,110,121) ;
    color: white;
    height: 50px;
}
.sub_mail p{
    padding: 10px 200px 10px 20px;
}
.footer{
    display: flex;
    padding-left: 140px;
    padding-right: 70px;
    padding-bottom: 80px ;
    background-color: rgb(90,110,121);
    color: white;
}
.footer_label{
    width: 30%;
    padding-right: 50px;
    padding-top: 80px;
}
.footer h2{
    font-size: 1.8rem;
    padding-bottom: 20px;
}
.footer p{
    margin-right: 50px;
    line-height: 1.8rem;
}
.footer_more{
    display: flex;
    padding-top: 80px;
    justify-content: center;
    padding-left: 50px;
    gap: 1.5rem;
}
.footer_more h4{
    font-size: 1.2rem;
    padding-bottom: 20px;
}
.social{
    display: flex;
    padding-top: 20px;
    gap: 1.2rem;
}